
<div class="chipsek-lista">
  <div class="chips-item">
    <div class="chips-card">

      <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/TKZombie.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/TKWaves.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
   
  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/TKNitro.jpg" alt="termék 1" class="chips-kep">
      
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/TKFajita.jpg" alt="termék 1" class="chips-kep">
     
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Termék 1</h3> 
        <img src="./assets/chipsImg/TKChili.jpg" alt="termék 1" class="chips-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/TKCheese.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Steak.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Puff.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/PrPap.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/PrBBQ.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/HotPf.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/HotCr.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/HotCheese.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Chipito.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/HotCheese.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/ChiliCheese.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Chili.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Chedarpop.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/ChedarPf.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Chedar.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="chips-card">
    <h3>Termék 1</h3> 
      <img src="./assets/chipsImg/Beef.jpg" alt="termék 1" class="chips-kep">
      <p>Leírás 1</p> 
      <p class="ar">Ár: 1500 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    
  
  </div>
</div>
