<div class="uditok-lista"> 
    <div class="uditok-item">
      <div class="uditok-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/uditokImg/ghost.jpg" alt="termék 1" class="uditok-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="uditok-card">
        <h3>Termék 2</h3> 
        <img src="./assets/uditokImg/ghost2.jpg" alt="termék 2" class="uditok-kep">
        <p>Leírás 2</p> 
        <p class="ar">Ár: 1600 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost3.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost4.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost5.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost6.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost7.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost8.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/ghost9.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>


      
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/prime.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/sour11.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/sour12.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds2.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds3.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds4.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds5.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds6.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds7.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/nerds8.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/bazoo.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/bazoo1.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/bazoo2.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/bazoo3.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/bazoo4.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/pop.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/toxic.jpeg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/toxic1.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/toxic2.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/toxic3.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/toxic4.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war0.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war1.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war2.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war3.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war4.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war5.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war6.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war7.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/waste.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Termék 3</h3> 
        <img src="./assets/uditokImg/war9.jpg" alt="termék 3" class="uditok-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

    </div>
  </div>
  
