<div class="gumicukrok-lista"> 
    <div class="gumicukor-item">
      <div class="gumicukor-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/cukorImg/sour1.jpg" alt="termék 1" class="gumicukor-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="gumicukor-card">
        <h3>Termék 2</h3> 
        <img src="./assets/cukorImg/sour2.jpg" alt="termék 2" class="gumicukor-kep">
        <p>Leírás 2</p> 
        <p class="ar">Ár: 1600 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour3.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour4.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour5.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour6.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour7.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour8.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour9.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour10.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour11.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/sour12.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds2.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds3.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds4.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds5.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds6.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds7.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/nerds8.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/bazoo.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/bazoo1.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/bazoo2.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/bazoo3.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/bazoo4.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/pop.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/toxic.jpeg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/toxic1.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/toxic2.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/toxic3.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/toxic4.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war0.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war1.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war2.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war3.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war4.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war5.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war6.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war7.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/waste.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="gumicukor-card">
        <h3>Termék 3</h3> 
        <img src="./assets/cukorImg/war9.jpg" alt="termék 3" class="gumicukor-kep">
        <p>Leírás 3</p> 
        <p class="ar">Ár: 1400 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

    </div>
  </div>
  